<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FTAutenticationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FTAutenticationDemoTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE680BFB1F338A5B00A9F68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE680C0F1F338A5B00A9F68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE680C1A1F338A5B00A9F68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
